<div class="footer-wrap">
  <footer class="site-footer">
    <div class="row">
      <div class="copyright left">Universidade do Minho - Engenharia de Linguagens &copy; 2014</div>
      <nav class="footer-navigation right">
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu" class="menu">
            <li id="menu-item-2136" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2129 current_page_item menu-item-2136">
              <a href="index.html">Home</a>
            </li>
            <li id="menu-item-2137" class="menu-item menu-item-type-taxonomy menu-item-object-course_category menu-item-2137">
              <a href="http://localhost:8888/wordpress/courses/all">Cursos</a>
            </li>
            <li id="menu-item-2135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2135">
              <a href="http://localhost:8888/wordpress/features">Sobre Nós</a>
            </li>
            <li id="menu-item-2139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2139">
              <a href="http://localhost:8888/wordpress/contact">Contactos</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /navigation -->        
      
    </div>      
  </footer>       
</div>