<div class="header-wrap">
  <header class="site-header">
    <div class="row">
      <div class="site-logo left">
        <a href="index.html" rel="home">
          <img src="assets/images/logo/logo.png" alt="CoLET" width="182px" height="37px" />
        </a>
      </div>
      
      <!-- /logo -->
      <div class="header-options right clearfix">         
        <div class="login-options right">
          <div class="button-wrap left tooltip login-button">
            <a href="#" class="button dark"><span class="button-icon login"></span>Entrar</a>
            <div class="tooltip-wrap">
              <div class="tooltip-text">
                <form action="http://localhost:8888/wordpress/wp-admin/admin-ajax.php" class="ajax-form popup-form" method="POST">
                  <div class="message"></div>
                  <div class="field-wrap">
                    <input type="text" name="user_login" value="Username" />
                  </div>
                  <div class="field-wrap">
                    <input type="password" name="user_password" value="Password" />
                  </div>
                  <div class="button-wrap left nomargin">
                    <a href="#" class="button submit-button">Entrar</a>
                  </div>                      
                  <div class="button-wrap switch-button left">
                    <a href="#" class="button dark" title="Password Recovery">
                      <span class="button-icon help"></span>
                    </a>
                  </div>
                  <input type="hidden" name="user_action" value="login_user" />
                  <input type="hidden" name="user_redirect" value="" />
                  <input type="hidden" name="nonce" class="nonce" value="34f9f60b6a" />
                  <input type="hidden" name="action" class="action" value="themex_update_user" />
                </form>
              </div>
            </div>
            <div class="tooltip-wrap password-form">
              <div class="tooltip-text">
                <form action="http://localhost:8888/wordpress/wp-admin/admin-ajax.php" class="ajax-form popup-form" method="POST">
                  <div class="message"></div>
                  <div class="field-wrap">
                    <input type="text" name="user_email" value="Email" />
                  </div>
                  <div class="button-wrap left nomargin">
                    <a href="#" class="button submit-button">Recuperar Password</a>
                  </div>
                  <input type="hidden" name="user_action" value="reset_password" />
                  <input type="hidden" name="nonce" class="nonce" value="34f9f60b6a" />
                  <input type="hidden" name="action" class="action" value="themex_update_user" />
                </form>
              </div>
            </div>
          </div>
          <div class="button-wrap left">
            <a href="http://localhost:8888/wordpress/register" class="button">
              <span class="button-icon register"></span>
              Registar
            </a>
          </div>
        </div>
        <!-- /login options -->

        <div class="search-form right">
          <form role="search" method="GET" action="http://localhost:8888/wordpress/">
            <input type="text" value="" name="s" />
          </form>
        </div>
        <!-- /search form -->

      </div>
      <!-- /header options -->

      <div class="mobile-search-form">
        <form role="search" method="GET" action="http://localhost:8888/wordpress/">
          <input type="text" value="" name="s" />
        </form>
      </div>
      <!-- /mobile search form -->
       
      <nav class="header-navigation right">
        <div class="menu">
          <ul id="menu-main-menu" class="menu">
            <li id="menu-item-2132" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2129 current_page_item menu-item-2132">
              <a href="index.html">Home</a>
            </li>
            <li id="menu-item-2138" class="menu-item menu-item-type-taxonomy menu-item-object-course_category menu-item-2138">
              <a href="http://localhost:8888/wordpress/courses/all">Cursos</a>
            </li>
            <li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130">
              <a href="http://localhost:8888/wordpress/features">Sobre Nós</a>
            </li>
            <li id="menu-item-2141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2141">
              <a href="http://localhost:8888/wordpress/contact">Contactos</a>
            </li>
          </ul>
        </div>           
        <div class="select-menu">
          <span></span>
          <select>
            <option value="index.html">Home</option>
            <option value="http://localhost:8888/wordpress/courses/all">Cursos</option>
            <option value="http://localhost:8888/wordpress/features">Sobre Nós</option>
            <option value="http://localhost:8888/wordpress/contact">Contactos</option>
          </select>
        </div>
        <!--/ select menu-->
      </nav>
      <!-- /navigation -->
    </div>      
  </header>
  <!-- /header -->
</div>