<div class="header-wrap">
      <header class="site-header">
        <div class="row">
          <div class="site-logo left">
            <a href="http://themextemplates.com/demo/academy/" rel="home">
              <img src="/images/logo/logo_small.png" alt="Academy – Learning Management Theme">
            </a>
          </div>
          <!-- /logo -->
          <div class="header-options right clearfix">         
            <div class="login-options right">
                        
              <div class="button-wrap left tooltip login-button">
                <a href="#" class="button dark"><span class="button-icon login"></span>Sign In</a>
                <div class="tooltip-wrap">
                  <div class="tooltip-text">
                    <form action="http://themextemplates.com/demo/academy/wp-admin/admin-ajax.php" class="ajax-form popup-form" method="POST">
                      <div class="message"></div>
                      <div class="field-wrap">
                        <input type="text" name="user_login" value="Demo">
                      </div>
                      <div class="field-wrap">
                        <input type="password" name="user_password" value="Demo">
                      </div>
                      <div class="button-wrap left nomargin">
                        <a href="#" class="button submit-button">Sign In</a>
                      </div>                      
                                            <div class="button-wrap switch-button left">
                        <a href="#" class="button dark" title="Password Recovery">
                          <span class="button-icon help"></span>
                        </a>
                      </div>
                      <input type="hidden" name="user_action" value="login_user">
                      <input type="hidden" name="user_redirect" value="">
                      <input type="hidden" name="nonce" class="nonce" value="9b0f5310e5">
                      <input type="hidden" name="action" class="action" value="themex_update_user">
                    </form>
                  </div>
                </div>
                <div class="tooltip-wrap password-form">
                  <div class="tooltip-text">
                    <form action="http://themextemplates.com/demo/academy/wp-admin/admin-ajax.php" class="ajax-form popup-form" method="POST">
                      <div class="message"></div>
                      <div class="field-wrap">
                        <input type="text" name="user_email" value="Email">
                      </div>
                      <div class="button-wrap left nomargin">
                        <a href="#" class="button submit-button">Reset Password</a>
                      </div>
                      <input type="hidden" name="user_action" value="reset_password">
                      <input type="hidden" name="nonce" class="nonce" value="9b0f5310e5">
                      <input type="hidden" name="action" class="action" value="themex_update_user">
                    </form>
                  </div>
                </div>
              </div>
                            <div class="button-wrap left">
                <a href="http://themextemplates.com/demo/academy/register" class="button">
                  <span class="button-icon register"></span>Register                </a>
              </div>
                                      </div>
            <!-- /login options -->                   
            <div class="search-form right">
              <form role="search" method="GET" action="http://themextemplates.com/demo/academy/">
  <input type="text" value="" name="s">
</form>           </div>
            <!-- /search form -->
                        <div class="button-wrap share-button tooltip right">
              <a href="#" class="button dark"><span class="button-icon plus nomargin"></span></a>
              <div class="tooltip-wrap">
                <div class="corner"></div>
                <div class="tooltip-text"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1392079123.html#_=1393205109326&amp;count=horizontal&amp;dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fthemextemplates.com%2Fdemo%2Facademy%2F&amp;size=m&amp;text=Academy%20%E2%80%93%20Learning%20Management%20Theme&amp;url=http%3A%2F%2Fthemextemplates.com%2Fdemo%2Facademy%2F" class="twitter-share-button twitter-tweet-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="http://static.ak.facebook.com/connect/xd_arbiter.php?version=40#channel=f1d705777&amp;origin=http%3A%2F%2Fthemextemplates.com" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=40#channel=f1d705777&amp;origin=http%3A%2F%2Fthemextemplates.com" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="f21633a88" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.facebook.com/connect/ping?client_id=257149217676807&amp;domain=themextemplates.com&amp;origin=1&amp;redirect_uri=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D40%23cb%3Df36ba87c8%26domain%3Dthemextemplates.com%26origin%3Dhttp%253A%252F%252Fthemextemplates.com%252Ff1d705777%26relation%3Dparent&amp;response_type=token%2Csigned_request%2Ccode&amp;sdk=joey" style="display: none;"></iframe></div></div></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=257149217676807";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script><div class="fb-like fb_iframe_widget" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=257149217676807&amp;href=http%3A%2F%2Fthemextemplates.com%2Fdemo%2Facademy%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=60"><span style="vertical-align: bottom; width: 76px; height: 20px;"><iframe name="f18dd6da3c" width="60px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=257149217676807&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D40%23cb%3Df3398bc80%26domain%3Dthemextemplates.com%26origin%3Dhttp%253A%252F%252Fthemextemplates.com%252Ff1d705777%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fthemextemplates.com%2Fdemo%2Facademy%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=60" class="" style="border: none; visibility: visible; width: 76px; height: 20px;"></iframe></span></div></div>
              </div>
            </div>
            <!-- /share button -->
                      </div>
          <!-- /header options -->
          <div class="mobile-search-form">
            <form role="search" method="GET" action="http://themextemplates.com/demo/academy/">
  <input type="text" value="" name="s">
</form>         </div>
          <!-- /mobile search form -->
          <nav class="header-navigation right">
            <div class="menu"><ul id="menu-main-menu" class="menu" style="overflow: visible;"><li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-187"><a href="http://themextemplates.com/demo/academy/">Home</a>
<ul class="sub-menu">
  <li id="menu-item-773" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-773"><a href="http://themextemplates.com/demo/academy/">Stretched Slider</a></li>
  <li id="menu-item-772" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-772"><a href="http://themextemplates.com/demo/academy/?slider=boxed">Boxed Slider</a></li>
  <li id="menu-item-774" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-774"><a href="#">Dropdowns</a>
  <ul class="sub-menu">
    <li id="menu-item-775" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-775"><a href="#">Sample One</a></li>
    <li id="menu-item-776" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-776"><a href="#">Sample Two</a></li>
    <li id="menu-item-777" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-777"><a href="#">Sample Three</a></li>
  </ul>
</li>
</ul>
</li>
<li id="menu-item-238" class="menu-item menu-item-type-taxonomy menu-item-object-course_category menu-item-238"><a href="http://themextemplates.com/demo/academy/courses/all">Courses</a></li>
<li id="menu-item-2114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2114"><a href="http://themextemplates.com/demo/academy/plans">Plans</a></li>
<li id="menu-item-189" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-189"><a href="http://themextemplates.com/demo/academy/category/news">News</a></li>
<li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184"><a href="http://themextemplates.com/demo/academy/about">About</a></li>
<li id="menu-item-603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-603"><a href="http://themextemplates.com/demo/academy/support">Support</a></li>
</ul></div>           
            <div class="select-menu">
              <span>Stretched Slider</span>
              <select style="opacity: 0;"><option value="http://themextemplates.com/demo/academy/" selected="selected">Home</option><option value="http://themextemplates.com/demo/academy/" selected="selected">Stretched Slider</option><option value="http://themextemplates.com/demo/academy/?slider=boxed">Boxed Slider</option><option value="#">Dropdowns</option><option value="#">Sample One</option><option value="#">Sample Two</option><option value="#">Sample Three</option><option value="http://themextemplates.com/demo/academy/courses/all">Courses</option><option value="http://themextemplates.com/demo/academy/plans">Plans</option><option value="http://themextemplates.com/demo/academy/category/news">News</option><option value="http://themextemplates.com/demo/academy/about">About</option><option value="http://themextemplates.com/demo/academy/support">Support</option></select>              
            </div>
            <!--/ select menu-->
          </nav>
          <!-- /navigation -->            
        </div>      
      </header>
      <!-- /header -->
    </div>