<!-- Faltam os links a funcionar direito -->


<!-- Parte 1 - Slides -->
<div class="featured-content">
  <div class="substrate">
    <img src="/images/bgs/site_bg.jpg" class="fullwidth" alt="" />
  </div>
  <div class="parallax-slider themex-slider">
    <div class="substrate">
      <img src="/images/bgs/site_bg.jpg" class="fullwidth" alt="" />
    </div>
    <ul>
      <!-- Slide número 1 -->
      <li>
        <div class="row">
          <!-- Slide número 1 -->
          <div class="fivecol column">
            <h1>Aprender online tornou-se mais fácil</h1>
            <p>O CoLET é a nova plataforma para aprender e ensinar online. Não é apenas um site mas sim um sistema de gestão que oferece excelentes recursos para tornar a aprendizagem e ensino on-line mais fácil para todos.</p>
            <a href="http://themextemplates.com/demo/academy/register" target="_self" class="button large primary">
              <img class="alignnone" alt="" src="/images/home/image_4.png" />
              Começar a aprender
            </a>
          </div>
          <div class="sevencol column last">
            <img class="alignnone" alt="" src="/images/home/slide_1.png" />
          </div>
          <div class="clear"></div>
        </div>
      </li>
      <!-- Slide número 2 -->
      <li>
        <div class="row">
          <div class="fivecol column">
            <br />
            <h1>Ensine com o CoLET</h1>
            <p>Uma nova forma de ensinar. Acompanhe mais os seus alunos, de uma forma mais cómoda. Faça a gestão dos seus temas, crie perguntas automaticamente e obtenha relatórios com as respostas. Dedique-se ao que realmente importa, ensinar a aprender.</p>
            <a href="http://themextemplates.com/demo/academy/register" target="_self" class="button large primary">
              <img class="alignnone" alt="" src="/images/home/image_4.png" />
              Começar a ensinar
            </a>
          </div>
          <div class="sevencol column last">
            <img src="/images/home/slide_2.png" class="alignnone" />
          </div>
          <div class="clear"></div>
        </div>
      </li>
      <!-- Slide número 3 -->
      <li>
        <div class="row">
          <div class="fivecol column">
            <br />
            <h1>Partilhe o seu conhecimento online</h1>
            <p>Há sempre alguém que já teve o mesmo problema. Partilhe os seus conhecimentos com o mundo de uma nova forma. Crie grupo privados ou partilhe com tods, o que importa é que alguém irá aprender consigo. Temos a certeza que também irá aprender.</p>
            <a href="http://themextemplates.com/demo/academy/register" target="_self" class="button large primary">
              <img class="alignnone" alt="" src="/images/home/image_4.png" />
              Começar
            </a>
          </div>
          <div class="sevencol column last">
            <img src="/images/home/slide_3.png" class="alignnone" />
          </div>
          <div class="clear"></div>
        </div>
      </li>
    </ul>
    <div class="arrow arrow-left"></div>
    <div class="arrow arrow-right"></div>
    <input type="hidden" class="slider-pause" value="5000" />
    <input type="hidden" class="slider-speed" value="1000" />
    <input type="hidden" class="slider-effect" value="slide" /> 
  </div>
</div>
<!-- /featured -->

<!-- Parte 2 - Tópicos -->
<div class="main-content">
  <div class="row">
    <div class="clear"></div>
    <div class="fourcol column">
      <h3><img class="alignnone" alt="" src="http://themextemplates.com/demo/academy/wp-content/uploads/2013/02/image_1.jpg">Cursos sobre os mais diversos temas</h3>      
      <p>Poderá encontrar os mais diversos cursos no CoLET. Temos a certeza que encontrará sempre algo interessante. Inscreva-se e aprenda com os autores, ou então crie o seu curso e partilhe-o com o mundo.</p>
    </div>
    <div class="fourcol column">
      <h3><img class="alignnone" alt="" src="http://themextemplates.com/demo/academy/wp-content/uploads/2013/02/image_2.jpg">Fale com os autores</h3>
      <p>Continua com aquela dúvida pertinente? Fale com o autor do curso e exponha-lhe o problema. Ás vezes uma resposta faz toda a diferença.</p>
    </div>
    <div class="fourcol column last">
      <h3><img class="alignnone" alt="" src="http://themextemplates.com/demo/academy/wp-content/uploads/2013/02/image_3.jpg">Geração automática de perguntas</h3>
      <p>Defina conjuntos possíveis de perguntas e respostas e nós tratamos do resto. Com o CoLET é possível gerar sempre novas perguntas para que desafiar os alunos.</p>
    </div>
    <div class="clear"></div>
    <p>&nbsp;</p>
    
    <!-- Parte 3 - Tópicos -->
    



                
                <div class="sixcol column">
                  <h1>Top Experts</h1>
                  <div class="experts"><div class="expert-preview">
                    <div class="expert-meta">
                      <div class="expert-image bordered-image">
                        <a href="http://themextemplates.com/demo/academy/profile/admin"><img src="http://themextemplates.com/demo/academy/wp-content/uploads/2013/02/avatar_1-96x96.jpg" class="avatar" width="96" alt=""></a>
                      </div>
                      <div class="user-links">
                        <a href="http://twitter.com/" class="twitter" target="_blank" title="Twitter"></a>  <a href="http://www.facebook.com/" class="facebook" target="_blank" title="Facebook"></a>   <a href="http://www.tumblr.com/" class="tumblr" target="_blank" title="Tumblr"></a>   <a href="http://vimeo.com/" class="vimeo" target="_blank" title="Vimeo"></a>    </div>  </div>
                        <div class="expert-text">
                          <h4 class="nomargin">
                            <a href="http://themextemplates.com/demo/academy/profile/admin">
                              Steven Granger      </a>
                            </h4>
                            <span class="expert-signature">Project Manager</span>
                            <p>Cras a neque diam. Aenean dapibus accumsan velit eget imperdiet. Quisque sapien neque, fermentum ac pharetra ac, iaculis a elit. Morbi tincidunt, lectus et dignissim pharetra, elit leo lacinia purus, eu porta. Aenean adipiscing, sed lacinia sapien tincidunt.</p> </div>
                          </div><div class="expert-preview">
                          <div class="expert-meta">
                            <div class="expert-image bordered-image">
                              <a href="http://themextemplates.com/demo/academy/profile/marco"><img src="http://themextemplates.com/demo/academy/wp-content/uploads/2013/02/avatar_10-96x96.jpg" class="avatar" width="96" alt=""></a>
                            </div>
                            <div class="user-links">
                              <a href="http://twitter.com/" class="twitter" target="_blank" title="Twitter"></a>  <a href="http://www.facebook.com/" class="facebook" target="_blank" title="Facebook"></a>   <a href="http://www.tumblr.com/" class="tumblr" target="_blank" title="Tumblr"></a>   <a href="http://vimeo.com/" class="vimeo" target="_blank" title="Vimeo"></a>    </div>  </div>
                              <div class="expert-text">
                                <h4 class="nomargin">
                                  <a href="http://themextemplates.com/demo/academy/profile/marco">
                                    Mark Blackwood      </a>
                                  </h4>
                                  <span class="expert-signature">Software Engineer</span>
                                  <p>Fusce vehicula tortor quis odio interdum auctor. Ut iaculis eleifend pharetra. Nulla rutrum, magna non pulvinar tincidunt, neque dui eleifend lacus, fringilla cursus justo augue non nulla. Vivamus sem nunc, tincidunt sit cursus, porttitor pharetra.</p> </div>
                                </div></div></div><div class="sixcol column last"><h1>Testimonials</h1><div class="testimonials"><article class="testimonial">
                                <div class="testimonial-image">
                                  <div class="bubble-image">
                                    <img width="264" height="264" src="http://themextemplates.com/demo/academy/wp-content/uploads/2013/02/avatar_27.jpg" class="attachment-small wp-post-image" alt="avatar_27">      <div class="substrate"><img src="http://themextemplates.com/demo/academy/wp-content/themes/academy/images/bgs/testimonial_bg.png" alt=""></div>
                                  </div>
                                </div>
                                <div class="testimonial-text">
                                  <p>Pellentesque pulvinar sodales quam a placerat. Vivamus quis vitae consectetur ligula. Ut bibendum eleifend quam eget fermentum. Nulla facilisi. Augue aliquam augue vel odio faucibus luctus!</p>    <h6 class="author nomargin">Jessica White</h6>
                                </div>
                              </article><article class="testimonial">
                              <div class="testimonial-image">
                                <div class="bubble-image">
                                  <img width="265" height="265" src="http://themextemplates.com/demo/academy/wp-content/uploads/2013/02/avatar_12.jpg" class="attachment-small wp-post-image" alt="avatar_12">      <div class="substrate"><img src="http://themextemplates.com/demo/academy/wp-content/themes/academy/images/bgs/testimonial_bg.png" alt=""></div>
                                </div>
                              </div>
                              <div class="testimonial-text">
                                <p>Maecenas sed metus sem, ac varius ante. Nullam non mi tempor nisl varius consectetur vel in ipsum. Vestibulum sem diam, vehicula sit amet luctus adipiscing, viverra in sem. Proin molestie.</p>   <h6 class="author nomargin">John Dawson</h6>
                              </div>
                            </article><article class="testimonial">
                            <div class="testimonial-image">
                              <div class="bubble-image">
                                <img width="270" height="270" src="http://themextemplates.com/demo/academy/wp-content/uploads/2013/02/avatar_11.jpg" class="attachment-small wp-post-image" alt="avatar_11">      <div class="substrate"><img src="http://themextemplates.com/demo/academy/wp-content/themes/academy/images/bgs/testimonial_bg.png" alt=""></div>
                              </div>
                            </div>
                            <div class="testimonial-text">
                              <p>Donec convallis, mauris quis tempor pulvinar, lorem neque rhoncus nisl, at hendrerit quam leo volutpat est. Quisque fringilla, nulla vitae vehicula fermentum, nibh dolor tristique, scelerisque.</p>    <h6 class="author nomargin">Mary Springs</h6>
                            </div>
                          </article></div></div><div class="clear"></div>

                        </div>
                        </div>